@page "/"

<PageTitle>Home</PageTitle>



        <div class="row text-center">
            <div class="col-12 col-md-6">
                <h1><img src="/Images/BugInspector.svg" width="100" /> Welcome to your Bug Inspector!</h1>
                <p class="lead">
                    Here at the Bug Inspector we help you achieve your goals.
                    It is pesky to track down every little issue possible. The bug Inspector makes
                    it seem like a genntle spring breeze. Not sure if you want to try yet?
                    Test as a Demo User and find out today.
                </p>
                <a class="btn btn-primary" href="/Account/Login">
                    Demo User Sign In
                </a>
            </div>
            <div class="col-12 col-md-6 mt-2 ">
                <img src="/Images/ProjectDetailsResized.png" />
            </div>
        </div>



