@inject ICompanyDTOService CompanyService

@if (User is not null && UserInfo is not null)
{

        <!-- Team Style 2: Vertical -->
        <div class="card card-body card-hover bg-light border-0 text-center">
            <img src="@User.ProfilePictureUrl" class="d-block rounded-circle mx-auto mb-3" width="162" alt="@User.UserId">
            <h5 class="fw-medium fs-lg mb-1">@User.FullName</h5>
            <p class="fs-sm mb-3">@User.Role</p>
        </div>

    

}



@code {
    #region Parameters
    [Parameter, EditorRequired]
    public UserDTO? User { get; set; }

    [Parameter, EditorRequired]
    public UserInfo? UserInfo { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<UserDTO> OnSubmit { get; set; }
    #endregion

    #region State
    #endregion

    #region Methods



    #endregion
}
