@page "/Company/create"
@using TheBugInspector.Client.Components.UI.Companies
@using TheBugInspector.Client.Helpers

@inject ICompanyDTOService CompanyService
@inject NavigationManager Nav

@rendermode InteractiveAuto


<PageTitle>BugInspector | create Company</PageTitle>

<div class="container-xxl">

    <span class="text-danger">@ErrorMessage</span>

    @if (company is not null)
    {
        <div class="card bg-faded-primary">
            <div class="card-body">
                <CompanyForm Company="new CompanyDTO()"
                             OnSubmit="EditCompany"
                             IsNew="false"></CompanyForm>
            </div>

        </div>

    }
    else
    {
        <h1 class="text-danger">@ErrorMessage</h1>
    }
</div>

@code {
    #region Parameters
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State
    private CompanyDTO? company;
    private UserInfo? userInfo;
    private string? ErrorMessage = string.Empty;
    #endregion

    #region Methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            ErrorMessage = string.Empty;
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            company = await CompanyService.GetCompanyByIdAsync(Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ErrorMessage = "Something went wrong, servers may be down or having issues. Please return at another time.";

        }
    }

    private async Task EditCompany(CompanyDTO company)
    {
        try
        {
            if (userInfo is not null)
            {
                await CompanyService.UpdateCompanyAsync(company, userInfo.UserId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ErrorMessage = "Something went wrong, servers may be down or having issues. Please return at another time.";

        }
        Nav.NavigateTo("/companies/Index");
    }
    #endregion
}

