@page "/companies/Index"
@using TheBugInspector.Client.Components.UI.Companies
@using TheBugInspector.Client.Helpers

@inject ICompanyDTOService CompanyService

@rendermode InteractiveAuto
@attribute [Authorize]

<PageTitle>BugInspector | Company</PageTitle>

@if (company is not null)
{


    <div class="container">
        <div class="text-center">
            <h1>@company.Name</h1>
            <img src="@company.ImageUrl" class="img-fluid" />
            <div class="text-center">
            </div>
            <div class="mt-4">
                <h3>Description</h3>
                @company.Description
            </div>
            <div class="row mt-5">

                <div class="col-md-6">
                    <a href="/projects/Index" class="text-primary"><u>Active Projects</u></a>
                </div>
                <div class="col-md-6">
                    <a href="/archived/projects/Index" class="text-primary"><u>Archived Projects</u></a>
                </div>

                <div class="col-md-1">
                </div>
                <div class="col mt-3">
                    <div>
                        <AuthorizeView Context="AdminCompanyControl">
                            @if (AdminCompanyControl.User.IsInRole("Admin") && Members.Any(m => m.UserId == userInfo.UserId) && company.Id == userInfo.CompanyId)
                            {
                                <a href="/Company/Edit/@company.Id" class="btn btn-primary text-end">
                                    Edit Company Page
                                </a>
                            }
                        </AuthorizeView>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-5">
                <div>
                    <h3>Company Members</h3>
                </div>
                <div class="row">

                    @foreach (UserDTO member in Members)
                    {
                        <div class="col-md-6">
                            <CompanyMembersDisplay @key="member.UserId"
                                                   User="member"
                                                   UserInfo="userInfo"
                                                   OnSubmit="UpdateRole" />

                        </div>
                    }


                </div>
            </div>

        </div>
    </div>
}

@code {
    #region Parameters
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State
    private CompanyDTO? company;
    private string? ErrorMessage = string.Empty;
    private IEnumerable<UserDTO> Members = [];
    private UserInfo? userInfo;
    private IEnumerable<UserDTO> projectManagers = [];
    #endregion

    #region Methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            if (userInfo is not null)
            {
                company = await CompanyService.GetCompanyByIdAsync(userInfo.CompanyId);
                Members = await CompanyService.GetCompanyMembersAsync(userInfo.CompanyId);
                projectManagers = await CompanyService.GetUsersInRoleAsync(nameof(Roles.ProjectManager), userInfo.CompanyId);

            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ErrorMessage = "Something went wrong, check the Devtools";
        }
    }

    private async Task UpdateRole(UserDTO user)
    {
        try
        {
            if (userInfo is not null && company is not null)
            {
                await CompanyService.UpdateUserRoleAsync(user, userInfo.UserId);

                Members = await CompanyService.GetCompanyMembersAsync(company.Id);

                projectManagers = await CompanyService.GetUsersInRoleAsync(nameof(Roles.ProjectManager), userInfo.CompanyId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ErrorMessage = "Something went wrong, check the Devtools";
        }
    }
    #endregion

}
