@page "/companies/Index/{id:int}"

<h3>CompanyDetailsPage</h3>

@code {
    #region Parameters
    [Parameter]
    public int Id { get; set; }
    #endregion

    #region State
    #endregion

    #region Methods
    #endregion
    
}
