@page "/projects/Index"

@using TheBugInspector.Client.Components.UI.Projects
@using TheBugInspector.Client.Helpers
@using TheBugInspector.Client.Services
@using TheBugInspector.Client.Services.Interfaces

@rendermode InteractiveAuto

@inject IProjectDTOService ProjectService
@inject ICompanyDTOService CompanyService
@attribute [Authorize]

<PageTitle>BugInspector | ActiveProjects</PageTitle>


<div class="container-xxl">

    <div class="row row-cols-2">
        <div class="col">
            <h1>Active Projects</h1>

        </div>
        <div class="col text-end">
            <a class="btn btn-primay bg-info" href="/projects/create">Create Project?</a>
        </div>
    </div>

    @if (activeProjects is not null)
    {
        <div class="row row-cols-lg-3 row-cols-md-2 g-3">


            @foreach (ProjectDTO project in activeProjects)
            {
                <div class="col">
                    <DisplayProjectCards @key="project.Id"
                                       Project="project"
                                       userInfo="userInfo"
                                       ProjectManagers="projectManagers"
                                       OnSubmit="HandleArchive"
                                       OnProjectIdSubmit="AssignProjectIdAsync"
                                       OnManagerSubmit="AssignProjectManager" />

                </div>



            }

        </div>

        <div class="text-end">
            <a href="/archived/projects/Index" class="text-primary">Go to Archived Projects</a>
        </div>

    }
    else
    {
        <span class="text-danger">@ErrorMessage</span>
    }
</div>
@code {
    #region Parameters
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State
    private IEnumerable<ProjectDTO> activeProjects = [];
    private IEnumerable<UserDTO> projectManagers = [];
    private string? ErrorMessage = string.Empty;
    private UserInfo? userInfo;
    private ProjectDTO? project;
    #endregion

    #region Methods
    protected async override Task OnInitializedAsync()
    {
        try
        {
            ErrorMessage = string.Empty;

            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            if (userInfo is not null)
            {
                activeProjects = await ProjectService.GetAllProjectsAsync(userInfo.CompanyId);
                projectManagers = await CompanyService.GetUsersInRoleAsync(nameof(Roles.ProjectManager), userInfo.CompanyId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            // Change this errormessage
            ErrorMessage = "Something went wrong, check the DevTools";
        }
    }

    private async Task HandleArchive(int projectId)
    {
        try
        {
            if (userInfo is not null)
            {
                await ProjectService.ArchiveProjectAsync(projectId, userInfo.CompanyId);

                activeProjects = await ProjectService.GetAllProjectsAsync(userInfo.CompanyId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }
    private async Task AssignProjectIdAsync(int projectId)
    {
        if (userInfo is not null)
        {
            project = await ProjectService.GetProjectByIdAsync(projectId, userInfo.CompanyId);

        }
    }
    private async Task AssignProjectManager(string memberId)
    {
        try
        {
            if (userInfo is not null && project is not null)
            {
                await ProjectService.AssignProjectManagerAsync(project.Id, memberId, userInfo.UserId);

                activeProjects = await ProjectService.GetAllProjectsAsync(userInfo.CompanyId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }
    #endregion
}

