@page "/projects/Index"

@using TheBugInspector.Client.Components.UI.Projects
@using TheBugInspector.Client.Helpers
@using TheBugInspector.Client.Services
@using TheBugInspector.Client.Services.Interfaces

@rendermode InteractiveAuto

@inject IProjectDTOService ProjectService


<PageTitle>BugInspector | ActiveProjects</PageTitle>


<div class="container-xxl background-primary">

    <div class="row row-cols-2">
        <div class="col">
            <h1>Active Projects</h1>

        </div>
        <div class="col text-end">
            <a class="btn btn-primay bg-info" href="/projects/create">Create Project?</a>
        </div>
    </div>

    @if (activeProjects is not null)
    {


        <table class="table table-striped-columns table-info">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Project Created on</th>
                    <th scope="col">Project Start Date</th>
                    <th scope="col">Project End Date</th>
                    <th scope="col">Project Priority</th>
                    <th scope="col">Number of Tickets</th>
                    <th scope="col">Archive Project?</th>
                    <th scope="col">Edit Project?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectDTO project in activeProjects)
                {
                    <ProjectEditIndex Project="project"
                                      OnSubmit="HandleArchive" />
                }

            </tbody>

        </table>
    }
    else
    {
        <span class="text-danger">@ErrorMessage</span>
    }
</div>


@code {
    #region Parameters
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State
    private IEnumerable<ProjectDTO> activeProjects = [];
    private string? ErrorMessage = string.Empty;
    private UserInfo? userInfo;
    #endregion

    #region Methods
    protected async override Task OnInitializedAsync()
    {
        try
        {
            ErrorMessage = string.Empty;

            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            activeProjects = await ProjectService.GetAllProjectsAsync(userInfo!.CompanyId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            // Change this errormessage
            ErrorMessage = "Something went wrong, check the DevTools";
        }
    }

    private async Task HandleArchive(int projectId)
    {
        try
        {
            await ProjectService.ArchiveProjectAsync(projectId, userInfo!.CompanyId);

            activeProjects = await ProjectService.GetAllProjectsAsync(userInfo!.CompanyId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }
    #endregion
}