@page "/projects/create"

@using TheBugInspector.Client.Components.UI.Projects
@using TheBugInspector.Client.Helpers
@using TheBugInspector.Client.Services
@using TheBugInspector.Client.Services.Interfaces

@rendermode InteractiveAuto

@inject IProjectDTOService ProjectService
@inject NavigationManager Nav
@attribute [Authorize(Roles = $"{nameof(Roles.ProjectManager)}, {nameof(Roles.Admin)}")]

<PageTitle>BugInspector | Create Projects</PageTitle>


<div class="container-xxl">

    <h3>New Project</h3>
    <span class="text-danger">@ErrorMessage</span>
    <div class="card-shadow">
        <div class="card-body">
            <ProjectForm Project="new ProjectDTO()"
                         UserInfo="userInfo"
                         OnSubmit="HandleSubmit"
                         IsNew="true" />
        </div>
    </div>
</div>

@code {
    #region Parameters
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State

    private string? ErrorMessage = string.Empty;
    private UserInfo? userInfo;
    #endregion

    #region Methods
    protected async override Task OnInitializedAsync()
    {
        try
        {
            ErrorMessage = string.Empty;

            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            // Change this errormessage
            ErrorMessage = "Something went wrong, servers may be down or having issues. Please return at another time.";

        }
    }

    private async Task HandleSubmit(ProjectDTO project)
    {
        try
        {
            if (userInfo is not null)
            {
                await ProjectService.AddProjectAsync(project, userInfo.CompanyId, userInfo.UserId);

            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ErrorMessage = "Something went wrong, servers may be down or having issues. Please return at another time.";

        }
        if (userInfo is not null && userInfo.Roles.Contains(Roles.Admin.ToString()))
        {
            Nav.NavigateTo($"/projects/index");
            ErrorMessage = "Something went wrong, servers may be down or having issues. Please return at another time.";

        }
        else
        {
            Nav.NavigateTo($"/projects/personal/Index");
        }
    }
    #endregion
}
